@using MediCloud.App_Code;
@using MediCloud.Models.Seguranca;
@{
    SessaoUsuarioModel UsuarioAtual = (SessaoUsuarioModel)Session["UserSession"];
    string nomeUsuario = UsuarioAtual != null ? UsuarioAtual.NomeDoUsuario : string.Empty;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/chosen.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <script src="/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/assets/js/html5shiv.min.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-stethoscope"></i>
                        <a class="navbar-brand" href="/">CloudMed <span style="font-size:15pt">Job</span></a>
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @*<li class="grey dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-tasks"></i>
                                <span class="badge badge-grey">4</span>
                            </a>

                            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-check"></i>
                                    4 Tasks to complete
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Software Update</span>
                                                    <span class="pull-right">65%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:65%" class="progress-bar"></div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Hardware Upgrade</span>
                                                    <span class="pull-right">35%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Unit Testing</span>
                                                    <span class="pull-right">15%</span>
                                                </div>

                                                <div class="progress progress-mini">
                                                    <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">Bug Fixes</span>
                                                    <span class="pull-right">90%</span>
                                                </div>

                                                <div class="progress progress-mini progress-striped active">
                                                    <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="#">
                                        See tasks with details
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="purple dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>

                            <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-exclamation-triangle"></i>
                                    8 Notifications
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                        New Comments
                                                    </span>
                                                    <span class="pull-right badge badge-info">+12</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="btn btn-xs btn-primary fa fa-user"></i>
                                                Bob just signed up as an editor ...
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                        New Orders
                                                    </span>
                                                    <span class="pull-right badge badge-success">+8</span>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                        Followers
                                                    </span>
                                                    <span class="pull-right badge badge-info">+11</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="#">
                                        See all notifications
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="green dropdown-modal">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                                <span class="badge badge-success">5</span>
                            </a>

                            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-envelope-o"></i>
                                    5 Messages
                                </li>

                                <li class="dropdown-content">
                                    <ul class="dropdown-menu dropdown-navbar">
                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="/assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Alex:</span>
                                                        Ciao sociis natoque penatibus et auctor ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>a moment ago</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="/assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Susan:</span>
                                                        Vestibulum id ligula porta felis euismod ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>20 minutes ago</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="/assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Bob:</span>
                                                        Nullam quis risus eget urna mollis ornare ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>3:15 pm</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="/assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Kate:</span>
                                                        Ciao sociis natoque eget urna mollis ornare ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>1:33 pm</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="clearfix">
                                                <img src="/assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                                <span class="msg-body">
                                                    <span class="msg-title">
                                                        <span class="blue">Fred:</span>
                                                        Vestibulum id penatibus et auctor  ...
                                                    </span>

                                                    <span class="msg-time">
                                                        <i class="ace-icon fa fa-clock-o"></i>
                                                        <span>10:09 am</span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="inbox.html">
                                        See all messages
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>*@

                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/assets/images/avatars/user.jpg" alt="Foto de @nomeUsuario" />
                            <span class="user-info">
                                <small>Bem Vindo,</small>
                                @nomeUsuario
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#modalTrocarSenha" data-toggle="modal">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Alterar senha
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/Account/logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <a class="  btn btn-success" href="/ASO" title="Criar um ASO">
                        <i class="ace-icon fa fa-file-text-o"></i>
                    </a>

                    <a class="tooltipCloudMed  btn btn-info" href="/Funcionario" title="Cadastrar funcionário">
                        <i class=" ace-icon fa fa-male"></i>
                    </a>

                    <a class="tooltipCloudMed  btn btn-warning" href="/LaudoAudio" title="Cadastrar audiometria">
                        <i class="ace-icon fa fa-volume-up"></i>
                    </a>

                    <a class="tooltipCloudMed  btn btn-danger" href="/Recomendacao" title="Configurar recomendação">
                        <i class=" ace-icon fa fa-university"></i>
                    </a>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="/Home">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Início </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
                            Configurações
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Account/Usuarios">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastro de usuários
                            </a>
                        </li>

                    </ul>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa fa-user"></i>
                        <span class="menu-text">
                            Clientes
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Cliente">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastro de clientes
                            </a>
                        </li>
                        <li class="">
                            <a href="/Funcionario">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastro de Funcionários
                            </a>
                        </li>
                        <li class="">
                            <a href="/Cargo">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastro de Cargos
                            </a>
                        </li>
                        <li class="">
                            <a href="/ASO">
                                <i class="menu-icon fa fa-caret-right"></i>

                                ASO
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-line-chart"></i>
                        <span class="menu-text">
                            Laudo
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/RaioX">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Raio-X
                            </a>
                        </li>
                        <li class="">
                            <a href="/ModeloLaudo">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Modelos
                            </a>
                        </li>
                        <li class="">
                            <a href="/LaudoAudio">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Audiometria
                            </a>
                        </li>
                        <li class="">
                            <a href="/LaudoVisao">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Acuidade Visual
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-university"></i>
                        <span class="menu-text">
                            Recomendação
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Setor">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Setor
                            </a>
                        </li>
                        <li class="">
                            <a href="/Recomendacao">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Recomendações
                            </a>
                        </li>
                        <li class="">
                            <a href="/RiscoNatureza">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Natureza/Risco
                            </a>
                        </li>
                        <li class="">
                            <a href="/Referencia">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Referência
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-user-plus "></i>
                        <span class="menu-text">
                            Fornecedor
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Fornecedor">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Fornecedores
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-code"></i>
                        <span class="menu-text">
                            Parâmetros
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="/Cidade">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastro de Cidades
                            </a>
                        </li>
                        <li class="">
                            <a href="/DadosOcupacionais">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Dados Ocupacionais
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Procedimentos
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/GrupoDeProcedimento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Grupo
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/SubGrupo">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Subgrupo
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/Procedimento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Procedimento
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/TabelaDePreco">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Tabela de preços
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="/Fechamento">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Fechamento
                            </a>
                        </li>

                        <li class="">
                            <a href="/Profissional">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Profissionais
                            </a>
                        </li>

                        <li class="">
                            <a href="/Segmento">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Segmento
                            </a>
                        </li>

                        <li class="">
                            <a href="/ElaboradorPCMSO">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Elaborador do PCMSO
                            </a>
                        </li>
                        <li class="">
                            <a href="/ElaboradorPPRA">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Elaborador do PPRA
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-usd"></i>
                        <span class="menu-text">
                            Financeiro
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastros básicos
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/Contador">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Contador
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/RotaDeEntrega">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Rota de Entrega
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/FormaPagamento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Forma de Pagamento
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Contratos
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/LancamentoDeContrato">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Lançamento de contratos fixos
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/GrupoDeClientes">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Grupos de clientes
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/CrediarioCliente">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Crediário de clientes
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Faturamento
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/NotaFiscal">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Notas Fiscais
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/Faturamento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Fechar Faturamento
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="/FechamentoCaixa">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Fechamento de caixa
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-file-text-o"></i>
                        <span class="menu-text">
                            Relatórios
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Financeiro
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/RelatoriosFinanceiros/RelatorioDeMovimento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Relatório de Movimentos
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/RelatoriosFinanceiros/RelatorioAnalitoDeFaturamento">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Relatório de Analítico de Faturamento
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Movimentos
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/RelatoriosDeMovimentos/RelatorioDeConvocacoes">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Relatório de Convocações
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                                <li class="">
                                    <a href="/RelatoriosDeMovimentos/RelatorioAnual">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Relatório Anual
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>

                                Cadastrais
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="top-menu.html">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Clientes por grupo
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="top-menu.html">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Procedimentos de fornecedores
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                @{
                    Html.RenderPartial("FlashMessage");
                }
                <div class="page-content">

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">CloudMe Solutions - </span>
                        CloudMed &copy; @DateTime.Now.Year
                    </span>

                    &nbsp; &nbsp;
                    @*<span class="action-buttons">
                            <a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
                        </span>*@
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="/assets/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!-- ace scripts -->
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <div id="modalTrocarSenha" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="smaller lighter blue no-margin">Altere sua senha</h3>
                </div>
                <div class="modal-body">
                    <div id="passwordAlerts"></div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Senha atual </label>

                            <div class="col-sm-9">
                                <input type="password" id="SenhaAtual" name="SenhaAtual" placeholder="Senha atual" class="col-xs-10 col-sm-7" />
                            </div>
                        </div>
                        <div class="hr hr-24"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Nova senha </label>

                            <div class="col-sm-9">
                                <input type="password" id="NovaSenha" name="NovaSenha" placeholder="Nova senha" class="col-xs-10 col-sm-7" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Repita a nova senha </label>

                            <div class="col-sm-9">
                                <input type="password" id="RepitaNovaSenha" name="RepitaNovaSenha" placeholder="Repita aqui a nova senha digitada" class="col-xs-10 col-sm-7" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-success pull-right" id="SalvarSenha">
                    <i class="ace-icon fa fa-check"></i>
                    Alterar Senha
                </button>
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Fechar
                </button>

                <script type="text/javascript">
                    $(".tooltipCloudMed").tooltip({
                        show: null,
                        position: {
                            my: "left top",
                            at: "left bottom"
                        },
                        open: function (event, ui) {
                            ui.tooltip.animate({ top: ui.tooltip.position().top + 10 }, "fast");
                        }
                    });

                    $('#SalvarSenha').click(function () {
                        var senhaAtual = $('#SenhaAtual').val();
                        var NovaSenha = $('#NovaSenha').val();
                        var RepitaNovaSenha = $('#RepitaNovaSenha').val();

                        $.ajax({
                            url: 'Account/TrocarSenha?SenhaAtual=' + senhaAtual + '&NovaSenha=' + NovaSenha + '&RepitaNovaSenha=' + RepitaNovaSenha,
                            type: "post",
                            cache: false,
                            success: function (savingStatus) {
                                var tipoAlert;
                                if (savingStatus.acaoBemSucedida)
                                    tipoAlert = 'alert-success';
                                else
                                    tipoAlert = 'alert-danger';
                                $('#passwordAlerts').html('<div class="alert ' + tipoAlert + '"><a class="close" data-dismiss="alert">×</a><span>' + savingStatus.mensagem + '</span></div>')
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $('#passwordAlerts').html('<div class="alert alert-danger"><a class="close" data-dismiss="alert">×</a><span>Ops! Não conseguimos efetuar sua troca de senha com o servidor. Contate-nos para que possamos ajudar melhor.</span></div>')
                            }
                        });
                    });
                </script>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5447217.js"></script>
    <!-- End of HubSpot Embed Code -->
</body>
</html>