<style type="text/css">
    div.container4 {
        height: 40em;
        position: relative;
    }

        div.container4 p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 200px;
        }

        div.container4 p i {
            font-size: 20em;
            color:#e5e5e5
        }
</style>
<div class=container4>
    <p><i class="fa fa-stethoscope"></i></p>
</div>