@model  MediCloud.Models.Seguranca.IndexModel
<style type="text/css">
    div.container4 {
        height: 40em;
        position: relative;
    }

        div.container4 p {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 200px;
        }

        div.container4 p i {
            font-size: 20em;
            color:#e5e5e5
        }
</style>
<div class=container4>
    <div class="col-sm-12 infobox-container">
        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-user"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@Model.ConvocacoesNoMes</span>
                <div class="infobox-content">Convocações no mês</div>
            </div>
        </div>

        <div class="infobox infobox-pink">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-book"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">[Em Breve]</span>
                <div class="infobox-content">PCMSO à vencer</div>
            </div>
        </div>

        <div class="infobox infobox-blue">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-file-text-o "></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@Model.MovimentosNaoFaturados</span>
                <div class="infobox-content">Mov. não faturados</div>
            </div>
        </div>

        <div class="infobox infobox-red">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-line-chart"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@Model.MovimentosNoMês</span>
                <div class="infobox-content">ASOs no mês</div>
            </div>
        </div>

        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="ace-icon fa fa-user-md"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">@Model.ProcedimentosNoMes</span>
                <div class="infobox-content">Proc. no mês</div>
            </div>
        </div>

    </div>
   <p><i class="fa fa-stethoscope"></i></p>
</div>